extends layout

block content
    h1 Books
        p
        a(href="/books/new") Create New Book
    ul
        each book in books
            li
                h3 #{book.title}
                h5 #{book.author} 
                p #{book.genre} 
                p #{book.year}