h1 Update Book 
   include form
   form(action=`books/${id}/delete`, method="post")
      p 
         a(className="button", href="books/") Cancel 
      p 
         input(type="submit", value="Delete Books")