body {
  background-color: #adacb5;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  color: #2d3142;
}

h1 {
  font-size: 2.5rem;
}

td {
  padding: 5px 10px;
  border-bottom: #2d3142 1px solid;
}

main {
  background-color: #d8d5db;
  box-sizing: border-box;
  padding: 25px;
}

a {
  color: #307357;
}

p a,
th {
  color: #d16014;
}

table,
form p {
  font-size: 1.2rem;
}

input[type="submit"] {
  padding: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #d8d5db;
  border-radius: 5px;
}

input[type="submit"]:hover {
  box-shadow: #2d3142 2px 2px;
}

.submit {
  background-color: #307357;
}

.delete {
  background-color: #d16014;
}
